
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for depth */
    width: auto; /* Adjust based on your form's width *//* Ensure it doesn't exceed the screen's width on small devices */
  }
  
  /* Additional styling for the form elements */
  .content form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between form elements */
  }
  
  .content form input,
  .content form button {
    padding: 10px;
    margin-left:10px;
    border-radius: 5px;
    border: 1px solid #ddd; /* Light border for inputs and button */
  }
  
  .content form button {
    background-color: #f0f0f0; /* Light background for the button */
    cursor: pointer;
  }
  
  /* Style for switching between login and signup */
  .content p {
    text-align: center;
    
    color: #fff; /* White text for better visibility */
  }
  
  .content p button {
    background: none;
    border: none;
    color: #82b1ff; /* Light blue for clickable text */
    cursor: pointer;
    padding: 0;
  }