.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  
  .centered-content {
    max-width: 1500px;
    margin: auto;
    padding: 1rem;
  }
  
  @media (min-width: 768px) {
    .content {
      min-height: calc(100vh - 56px);
    }
  }
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .input-group .form-control {
    flex-grow: 1;
    margin-right: 0.5rem;
  }
  
  .input-group-append {
    flex-shrink: 0;
  }
  .page-container {
    width:100%
  }


  @media (min-width: 768px) {
    .page-container {
      width:80%;
      
    }
  }
  
