.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 3%;
}

.top-10-item {
  background-color: black; /* Background color black */
  color: white; /* Text color white for better visibility */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center items horizontally */
}

.tooltip {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  margin-bottom: 10px; /* Add some margin between image and text */
}



.item-details-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: black;
  padding:0 3%;
  margin: 1%;
}

.item-details-container img {
    padding-right: 2%;
}

.searched-item {
  width: 50px;
  height: 50px;
  padding-right: 2%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.image-overlay {
  display: none;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%); 
  background-color: black;
  color: white; 
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  white-space: nowrap; 
  max-width: 200px; 
}

.searched-item:hover .image-overlay {
  display: block;
  z-index: 9999;
}


.item-info {
    width: 100%; 
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center; 
}

.item-info h2 {
    font-size: 1rem; 
}

.item-info p {
    padding: 2%;
    flex: 1; 
}

